<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Formulário</title>
</head>

<body>

  <form class="form" action="/insert" method="POST">
    Nome: <input type="text" placeholder="Nome" name="nome"></br>
    Sobrenome: <input type="text" placeholder="Sobrenome" name="sobrenome"></br>
    Email: <input type="text" placeholder="Email" name="email"></br>
    <button type="submit"> Submit</button>
  </form>
</body>


</html>